fastapi
uvicorn[standard]
qdrant-client
openai
pypdf
langchain
python-dotenv
langchain-openai
tiktoken
pytest
httpx
langchain-text-splitters
python-multipart

# Added for hardening
python-json-logger
fastapi-limiter
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
sentry-sdk
opentelemetry-instrumentation-fastapi
redis
celery
tenacity
fastapi[all]
pytest
python-dotenv
SQLAlchemy
psycopg2-binary
opentelemetry-sdk
