fastapi[all]
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
qdrant-client
openai
pypdf
langchain-text-splitters
tiktoken
langchain-openai
celery[redis]
prometheus-fastapi-instrumentator
aioredis
python-json-logger
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
